div.weather-app {
    border: 1px solid #36363654;
    overflow: auto;
    max-width: max-content;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: rgb(252, 252, 220);
  }
  
  input {
    padding: 10px;
    width: 200px;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 18px;
    border: 2px solid gainsboro;
  }

  input:hover {
    border: 2px solid rgb(134, 134, 134);
  }
  
  button,
  .button-current {
    padding: 10px;
    color: #fff;
    background: #0b9d00;
    width: 80px;
    border: transparent;
    font-size: 18px;
  }
  
  button.button-current {
    background-color: blue;
  }

  button.button-current:hover {
    border: 2px solid rgb(29, 29, 194);
    background: rgb(21, 21, 167);
  }
  
  button:hover {
    border: 2px solid rgb(16, 216, 16);
    background: rgb(3, 129, 31);
  }
  
  div.city {
    line-height: 30%;
    margin-top: 40px;
    margin-left: 10px;
  }
  
  h1 {
    font-weight: lighter;
    font-size: 32px;
  }
  
  div p {
    font-size: 18px;
    font-weight: 100;
  }
  
  div.weather {
    margin-top: 30px;
    margin-left: 65px;
  }
  
  div.condition {
    line-height: 5%;
    margin-left: 130px;
    margin-bottom: 0;
  }
  
  div ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 30px;
  }
  
  li {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: rgb(255, 255, 227);
  }

  li:hover {
    background-color: bisque;
  }
  
  a:hover {
    text-decoration: underline;
    color: darkblue;
  }
  
  #date {
    font-size: 20px;
  }
  
  .emoji {
    font-size: 55px;
  }
  
  .temp {
    font-size: 55px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .size {
    font-size: 20px;
    font-weight: lighter;
    position: relative;
    top: -20px;
    text-decoration: none;
  }

  a.celciuslink {
    text-decoration: none;
    color: blue;
  }

  a.fahrenheitlink {
    text-decoration: none;
    color: black;
  }

  a.celciuslink:hover {
    color: purple;
    text-decoration: underline;
  }

  a.fahrenheitlink:hover {
    color: rgb(138, 22, 138);
    text-decoration: underline;
  }

  p.open-source {
    text-align: center;
    padding-right: 250px;
  }

  a.open {
    text-decoration: none;
    color: blueviolet;
  }

  a.open:hover {
    color: purple;
    text-decoration: underline;
  }